<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="doctorlist"></ion-back-button>
    </ion-buttons>
    <ion-title text-center class="double-title">
      <h5>Health</h5>
      <p>Clinic</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-container">
    <img src="assets/imgs/header-nav.svg" alt="">
  </div>
  <div class="top-btns-holder" text-center>
    <ion-row>
      <ion-col size="4" class="btns-col">
        <ion-button>
          <img src="assets/imgs/phone-call.svg" alt="">
        </ion-button>
      </ion-col>
      <ion-col size="4" id="top-pic-holder">
        <img src="assets/imgs/clinicpic.png" alt="">
      </ion-col>
      <ion-col size="4" class="btns-col">
        <ion-button>
          <img src="assets/imgs/speech-bubble.svg" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div class="ratings-d" text-center>
    <p> <span> <img src="assets/imgs/star.svg" alt=""></span> 4.2 <span id="num">(200 evaluations)</span> </p>
  </div>
  <div class="description-holder" text-center padding>
    <div class="desc-card" text-center padding>
      <p>The Clinic is a specialist in cardiac surgery. has more than 5 thousand employees specializes in several areas
        of health
      </p>
    </div>
  </div>
</ion-content>

<ion-footer padding-horizontal no-border>
  <ion-toolbar>
    <ion-button (click)="schedule()" expand="block">
      SCHEDULE EXAM
    </ion-button>
  </ion-toolbar>
</ion-footer>