<ion-content>
  <ion-card class="cd">
    <p text-center style="color:#145a69;">{{infog.loginr.data.paciente.name}}
      {{infog.loginr.data.paciente.lastname}}<br />
      <!-- <fa-icon [icon]="['fas', 'weight']" class="fabp"></fa-icon>
      &nbsp;{{infog.loginr.data.paciente.weight | number: '1.1-1'}}
      Kg / {{infog.loginr.data.paciente.weight*2.2 | number: '1.1-1'}} Lb -->
    </p>
  </ion-card>
  <ion-card class="cd" style="background: transparent;">
    <ion-row>
      <ion-col size="3" text-center>
        <ion-card class="val" style="width: 100%;padding: 0px;">
          <ion-row>
            <ion-col>
              {{infog.cat_person}}
            </ion-col>
          </ion-row>
        </ion-card>
        <div>
          <img src="assets/imgs/{{infog.img_imc}}" style="height: 50%;width: auto;">
        </div>
      </ion-col>
      <ion-col size="9" text-center>
        <ion-card class="val">
          <ion-row text-center>
            <ion-col text-center>
              PESO: &nbsp;<span style="font-size: 0.96rem;">{{infog.loginr.data.paciente.weight | number: '1.1-1'}}
                [Kg] / {{infog.loginr.data.paciente.weight*2.2 | number: '1.1-1'}} [Lb]</span><br />
              {{infog.peso_name}}
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="val2" style="font-weight: lighter; font-size: 0.9rem;">
          <ion-row>
            <ion-col>
              Obs.
            </ion-col>
            <ion-col>
              Peso mínimo
            </ion-col>
            <ion-col>
              Peso ideal
            </ion-col>
            <ion-col>
              Peso máximo
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="val1" style="font-weight: lighter; font-size: 0.9rem;">
          <ion-row>
            <ion-col>
              Kg
            </ion-col>
            <ion-col>
              {{infog.peso_min | number: '1.2-2'}}
            </ion-col>
            <ion-col>
              {{infog.peso_ideal | number: '1.2-2'}}
            </ion-col>
            <ion-col>
              {{infog.peso_max | number: '1.2-2'}}
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card class="val1" style="font-weight: lighter; font-size: 0.9rem;">
          <ion-row>
            <ion-col>
              Lb
            </ion-col>
            <ion-col>
              {{(infog.peso_min * 2.20) | number: '1.2-2'}}
            </ion-col>
            <ion-col>
              {{(infog.peso_ideal * 2.20) | number: '1.2-2'}}
            </ion-col>
            <ion-col>
              {{(infog.peso_max * 2.20)| number: '1.2-2'}}
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card class="val">
          <ion-row text-center>
            <ion-col>
              CONSIDERACIONES
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="cd"
          style="font-weight: lighter; font-size: 0.9rem;color:#145a69;margin-top: 5px;margin-bottom: 0px;">
          <ion-row>
            <ion-col>
              DIFF.[Kg]
            </ion-col>
            <ion-col>
              {{infog.diff_peso_min | number: '1.2-2'}}
              <fa-icon [icon]="infog.diff_peso_min >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
                class="{{infog.diff_peso_min<0?'fadw':'faup'}}"> </fa-icon>
            </ion-col>
            <ion-col>
              {{infog.diff_peso_ideal | number: '1.2-2'}}
              <fa-icon [icon]="infog.diff_peso_ideal >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
                class="{{infog.diff_peso_ideal<0?'fadw':'faup'}}"> </fa-icon>
            </ion-col>
            <ion-col>
              {{infog.diff_peso_max | number: '1.2-2'}}
              <fa-icon [icon]="infog.diff_peso_max >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
                class="{{infog.diff_peso_max<0?'fadw':'faup'}}"> </fa-icon>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card class="cd"
          style="font-weight: lighter; font-size: 0.9rem;color:#145a69;margin-top: 5px;margin-bottom: 0px;">
          <ion-row>
            <ion-col>
              DIFF.[Lb]
            </ion-col>
            <ion-col>
              {{(infog.diff_peso_min * 2.20)| number: '1.2-2'}}
              <fa-icon [icon]="infog.diff_peso_min >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
                class="{{infog.diff_peso_min<0?'fadw':'faup'}}"> </fa-icon>
            </ion-col>
            <ion-col>
              {{(infog.diff_peso_ideal * 2.20)| number: '1.2-2'}}
              <fa-icon [icon]="infog.diff_peso_ideal >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
                class="{{infog.diff_peso_ideal<0?'fadw':'faup'}}"> </fa-icon>
            </ion-col>
            <ion-col>
              {{(infog.diff_peso_max * 2.20)| number: '1.2-2'}}
              <fa-icon [icon]="infog.diff_peso_max >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
                class="{{infog.diff_peso_max<0?'fadw':'faup'}}"> </fa-icon>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-card class="val">
      <ion-row text-center>
        <ion-col sise="12">
          ALTURA: {{infog.loginr.data.paciente.size *100}} [cm]<br />
          {{infog.alt_name}}
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="val2 ion-text-center" style="font-weight: lighter; font-size: 0.9rem;">
      <ion-row>
        <ion-col>
          Obs.
        </ion-col>
        <ion-col>
          Altura mínima
        </ion-col>
        <ion-col>
          Altura ideal
        </ion-col>
        <ion-col>
          Altura máxima
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="val1 ion-text-center" style="font-weight: lighter; font-size: 0.9rem;">
      <ion-row>
        <ion-col>
          cm
        </ion-col>
        <ion-col>
          {{infog.alt_min | number: '1.2-2'}}
        </ion-col>
        <ion-col>
          {{infog.alt_ideal | number: '1.2-2'}}
        </ion-col>
        <ion-col>
          {{infog.alt_max| number: '1.2-2'}}
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="cd ion-text-center"
      style=" font-weight: lighter; font-size: 0.9rem;color:#145a69;margin-top: 5px;margin-bottom: 0px;">
      <ion-row>
        <ion-col>
          DIFF.<br />[cm]
        </ion-col>
        <ion-col>
          {{infog.diff_alt_min| number: '1.2-2'}}<br />
          <fa-icon [icon]="infog.diff_alt_min >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
            class="{{infog.diff_alt_min<0?'fadw':'faup'}}"> </fa-icon>
        </ion-col>
        <ion-col>
          {{infog.diff_alt_ideal| number: '1.2-2'}}<br />
          <fa-icon [icon]="infog.diff_alt_ideal >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
            class="{{infog.diff_alt_ideal<0?'fadw':'faup'}}"> </fa-icon>
        </ion-col>
        <ion-col>
          {{infog.diff_alt_max| number: '1.2-2'}}<br />
          <fa-icon [icon]="infog.diff_alt_max >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
            class="{{infog.diff_alt_max<0?'fadw':'faup'}}"> </fa-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="val">
      <ion-row text-center>
        <ion-col sise="12">
          IMC: {{infog.loginr.data.paciente.imc}}<br />
          {{infog.imc_name}}
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="val2 ion-text-center" style="font-weight: lighter; font-size: 0.9rem;">
      <ion-row>
        <ion-col>
          Obs.
        </ion-col>
        <ion-col>
          IMC mínimo
        </ion-col>
        <ion-col>
          IMC ideal
        </ion-col>
        <ion-col>
          IMC máximo
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="val1 ion-text-center" style="font-weight: lighter; font-size: 0.9rem;">
      <ion-row>
        <ion-col>
          Und
        </ion-col>
        <ion-col>
          {{infog.imc_min | number: '1.2-2'}}
        </ion-col>
        <ion-col>
          {{infog.imc_ideal  | number: '1.2-2'}}
        </ion-col>
        <ion-col>
          {{infog.imc_max | number: '1.2-2'}}
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="cd ion-text-center"
      style=" font-weight: lighter; font-size: 0.9rem;color:#145a69;margin-top: 5px;margin-bottom: 0px;">
      <ion-row>
        <ion-col>
          DIFF.<br />[Und]
        </ion-col>
        <ion-col>
          {{infog.diff_imc_min | number: '1.2-2'}}<br />
          <fa-icon [icon]="infog.diff_imc_min >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
            class="{{infog.diff_imc_min<0?'fadw':'faup'}}"> </fa-icon>
        </ion-col>
        <ion-col>
          {{infog.diff_imc_ideal | number: '1.2-2'}}<br />
          <fa-icon [icon]="infog.diff_imc_ideal >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
            class="{{infog.diff_imc_ideal<0?'fadw':'faup'}}"> </fa-icon>
        </ion-col>
        <ion-col>
          {{infog.diff_imc_max | number: '1.2-2'}}<br />
          <fa-icon [icon]="infog.diff_imc_max >0?['fas', 'caret-up']:['fas', 'caret-down']" size="2x"
            class="{{infog.diff_imc_max<0?'fadw':'faup'}}"> </fa-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-card>

</ion-content>