h4 {
    text-align: center;
}

.button-solid-call {
    --background: #add575 !important;
    --background-focused: #287ee0;
    --background-hover: #add575;
}

.img{
    height: 80px;
    width: 80px;
    text-align: center;
    margin: auto;
}