<ion-header>
  <ion-toolbar>
    <ion-title>Comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngFor="let food of foods">
    <ion-row>
      <ion-col col-auto text-center class="cell-class" >
        <div>
          {{food.title}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let aliments of food.food">
      <ion-col *ngIf="aliments.aliment != ''" class="cell-class" >
        <div>
          {{aliments.aliment}}
        </div>
      </ion-col>
      <ion-col class="cell-class">
        <div>
          {{aliments.meter}}
        </div>
      </ion-col>
      <ion-col class="cell-class">
        <div *ngFor="let ingredient of aliments.ingredients">
          {{ingredient.type}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>