.contenedor_principal{
    margin-left: 7px;
    margin-right: -4px;
}
.titulo{
    background-color: #c9eeff;
    margin-right: 9px;
    font-weight: bold;
}

.cell_aliments {
    background-color: #00acba;
    color: white;
    margin-bottom: 5px;
}

.cell_meter {
    background-color: #cefbff;
    color: black;
    margin-top: 3px;
}

.cell_two {
    background-color: #ffebce;
    color: black;
    margin-top: 3px;
    margin-right: 5px;
    font-size: 12px;
}

.cell_three {
    background-color: #ffebce;
    color: black;
    margin-top: 3px;
    font-size: 14px;
}

.cell_aliments_contenido {
    margin-top: -8px;
    margin-left: -5px;
}