<ion-header>
  <ion-toolbar>
    <ion-title>Comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let food of foods" class="contenedor_principal">
    <ion-row>
      <ion-col col-auto text-center class="titulo">
        <div>
          {{food.title}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let aliments of food.food">
      <ion-col *ngIf="aliments.aliment != ''" class="cell_aliments" size="3">
        <div class="lbl_product">  
          {{aliments.aliment | uppercase}}
        </div>
      </ion-col>
      <ion-col class="cell_aliments_contenido">
        <ion-row *ngFor="let ingredient of aliments.ingredients">
          <ion-col text-center size="3" class="cell_meter">
            <div>
              {{ingredient.meter}}
            </div>
          </ion-col>
          <ion-col [ngClass]="{'cell_two':aliments.aliment != '','cell_three':aliments.aliment == ''}">
            <ion-row *ngFor="let type of ingredient.types">
              {{type}}
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!--Observacion-->
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea placeholder="Sin ninguna observación">{{food.observation}}</ion-textarea>
    </ion-item>
  </ion-grid>

</ion-content>