.cell-class {
  border-color: black;
  border-width: 0.01em;
  border-style: solid;
  margin-bottom: -1px;
  background-color: lightgrey;
}

.cell_aliments {
  background-color: #00acba;
  color: white;
}

.cell_meter {
  background-color: #cefbff;
  color: black;
}

.cell_type {
    background-color: #cefbff;
    color: black;
  }
