<ion-content>
  <div class="caller-back">
    <!-- <img src="assets/imgs/vcall.png" alt=""> -->
    <div class="doc-holder" text-left padding-horizontal>
      <div class="doc-card">
        <img src="assets/imgs/doclist/lucia.png" alt="">
      </div>
    </div>

    <div class="btns-holder" text-center>
      <ion-button color="light">
        <img src="assets/imgs/icn-mute.svg" alt="">
      </ion-button>
      <ion-button color="danger" (click)="closeModal()">
        <img src="assets/imgs/icn-cut.svg" alt="">
      </ion-button>
      <ion-button>
        <img src="assets/imgs/icn-mute.svg" alt="">
      </ion-button>
    </div>
  </div>
</ion-content>