<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title text-center>Find Drugs</ion-title>
      <ion-buttons slot="end">
        <ion-button id="end-btn">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="header-container">
      <img src="assets/imgs/header-nav.svg" alt="">
    </div>
    <div class="cat-menu">
      <ion-grid>
        <ion-row class="cat-row" text-center>
          <ion-col size="5" class="cat-col" >
            <ion-button text-center fill="none" expand="block" (click)="goDrugDetails()">
              <ion-label>
                <img src="assets/imgs/drug.svg" alt="">
                <p>Drug 01</p>
              </ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="5" class="cat-col">
              <ion-button text-center fill="none" expand="block" (click)="goDrugDetails()">
                <ion-label>
                  <img src="assets/imgs/drug.svg" alt="">
                  <p>Drug 02</p>
                </ion-label>
              </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="cat-row" text-center>
            <ion-col size="5" class="cat-col">
              <ion-button text-center fill="none" expand="block" (click)="goDrugDetails()">
                <ion-label>
                  <img src="assets/imgs/drug.svg" alt="">
                  <p>Drug 03</p>
                </ion-label>
              </ion-button>
            </ion-col>
            <ion-col size="5" class="cat-col">
                <ion-button text-center fill="none" expand="block" (click)="goDrugDetails()">
                  <ion-label>
                    <img src="assets/imgs/drug.svg" alt="">
                    <p>Drug 04</p>
                  </ion-label>
                </ion-button>
              </ion-col>
          </ion-row>

          <ion-row class="cat-row" text-center>
              <ion-col size="5" class="cat-col">
                <ion-button text-center fill="none" expand="block" (click)="goDrugDetails()">
                  <ion-label>
                    <img src="assets/imgs/drug.svg" alt="">
                    <p>Drug 05</p>
                  </ion-label>
                </ion-button>
              </ion-col>
              <ion-col size="5" class="cat-col">
                  <ion-button text-center fill="none" expand="block" (click)="goDrugDetails()">
                    <ion-label>
                      <img src="assets/imgs/drug.svg" alt="">
                      <p>Drug 06</p>
                    </ion-label>
                  </ion-button>
                </ion-col>
            </ion-row>


      </ion-grid>
    </div>
  </ion-content>