.d-btns-holder{
    ion-input{
        box-shadow:0px 2px 25px rgba(0, 0, 0, 0.1) !important;
    }

    ion-row{

        #fcol{
            padding-top: 40px !important;
        }
        ion-col{
            color: var(--ion-color-primary) !important;
            img{
                height: 100px !important;
            }
        }
    }
}

.des-holder
{
    .des-card{
        border-radius: 5px;
        box-shadow:0px 14px 36px rgba(52, 153, 246, 0.29);
        margin-top: 15px;
        padding: 10px 15px;
        h4{
            color: #1053A0 !important;
            margin: 0 !important;
        }

        p{
            color: var(--ion-color-primary);
            line-height: 22px !important;
        }

        ion-row{
            #pic-col{
                img{
                    height: 30px !important;
                }
            }
        }
    }
}

ion-footer
{
    ion-toolbar{
        --background: white;
        ion-button{
            margin-bottom: 20px !important;
            font-size: 1.2rem !important;
        }
    }
    
}