<ion-content>
  <ion-card class="cd">
    <p class="ion-text-center" style="color:#145a69;">
      <fa-icon [icon]="['fas', 'concierge-bell']" class="fabf"></fa-icon>&nbsp;Cena
    </p>
  </ion-card>
  <ion-card class="cd">
    <ion-card-subtitle class="st">
      Glosario:
    </ion-card-subtitle>
    <ion-row class="glos">
      <ion-col class="glos" col-6><span class="sp">A:&nbsp;</span>Almidones</ion-col>
      <ion-col class="glos" col-6><span class="sp">C:&nbsp;</span>Carnicos</ion-col>
    </ion-row>
    <ion-row class="glos">
      <ion-col class="glos" col-6><span class="sp">V:&nbsp;</span>Verduras</ion-col>
      <ion-col class="glos" col-6><span class="sp">G:&nbsp;</span>Grasas</ion-col>
    </ion-row>
    <ion-row class="glos">
      <ion-col class="glos" col-6><span class="sp">F:&nbsp;</span>Frutas</ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="val1" style="font-size: 0.90rem;">
    <p class="ion-text-center">
      <fa-icon [icon]="['far', 'clipboard']" class="fabf"></fa-icon>&nbsp;Opción&nbsp;{{indexs}}
    </p>
  </ion-card>
  <ion-card class="cd" style="background: transparent;">
    <ion-slides pager="true" (ionSlideDidChange)="onSlideChange()" #slidess>
      <ion-slide *ngFor="let ce of plan.cena" class="sop">
        <div style="width: 100%;">
          <ion-row class="rs"><span class="sp">A:&nbsp;</span>{{ce.paalcanalmidon}} {{ce.paalAlmidon}}</ion-row>
          <ion-row class="rs"><span class="sp">C:&nbsp;</span>{{ce.paalCancarnico}} {{ce.paalCarnico}}</ion-row>
          <ion-row class="rs"><span class="sp">V:&nbsp;</span>{{ce.paalCanverdura}} {{ce.paalVerdura}}</ion-row>
          <ion-row class="rs"><span class="sp">G:&nbsp;</span>{{ce.paalCangrasa}} {{ce.paalGrasa}}</ion-row>
          <ion-row class="rs"><span class="sp">F:&nbsp;</span>{{ce.paalCanfruta}} {{ce.paalFruta}}</ion-row>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <!-- <ion-card class="val1">
    <p class="ion-text-justify" style="padding-left: 10px;font-size: 0.90rem;">
      <fa-icon [icon]="['fas', 'asterisk']" class="fabf"></fa-icon>&nbsp;Recomendaciones:
    </p>
  </ion-card> -->

</ion-content>