<ion-content>
  <ion-card class="cd">
    <p class="ion-text-center" style="color:#145a69;">
      <fa-icon [icon]="['far', 'clock']" class="fabf"></fa-icon>&nbsp;Media Mañana
    </p>
  </ion-card>
  <!-- <ion-card class="cd">
    <ion-card-subtitle class="st">
      Glosario:
    </ion-card-subtitle>
    <ion-row class="glos">
      <ion-col class="glos" col-6><span class="sp">L:&nbsp;</span>Lacteos</ion-col>
      <ion-col class="glos" col-6><span class="sp">A:&nbsp;</span>Almidones</ion-col>
    </ion-row>
    <ion-row class="glos">
      <ion-col class="glos" col-6><span class="sp">C:&nbsp;</span>Carnicos</ion-col>
      <ion-col class="glos" col-6><span class="sp">F:&nbsp;</span>Frutas</ion-col>
    </ion-row>
  </ion-card> -->

  <ion-card class="val1" style="font-size: 0.90rem;">
    <p class="ion-text-center">
      <fa-icon [icon]="['far', 'clipboard']" class="fabf"></fa-icon>&nbsp;opciones
    </p>
  </ion-card>
  <ion-card class="cd" style="background: transparent;">
    <ion-list>
      <ion-item *ngFor="let mm of plan.mm" class="sop" style="padding: 0px;">
        <div style="width: 100%;">
          <span class="sp">*&nbsp;</span>{{mm.paalCanmmmt}} {{mm.paalMedia}}
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <!-- <ion-card class="cd">
    <p class="ion-text-center" style="color:#145a69;">
      <fa-icon [icon]="['fas', 'clock']" class="fabf"></fa-icon>&nbsp;Media Tarde
    </p>
  </ion-card> -->
  <!-- <ion-card class="val1" style="font-size: 0.90rem;">
    <p class="ion-text-center">
      <fa-icon [icon]="['fas', 'clock']" class="fabf"></fa-icon>&nbsp;Media Tarde
    </p>
  </ion-card>
  <ion-card class="cd" style="background: transparent;">
    <ion-list>
      <ion-item *ngFor="let mm of plan.mm" class="sop" style="padding: 0px;">
        <div style="width: 100%;">
          <span class="sp">*&nbsp;</span>{{mm.paalCanmmmt}} {{mm.paalMedia}}
        </div>
      </ion-item>
    </ion-list>
  </ion-card> -->
</ion-content>