<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Plan Nutricional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="list-menu"> -->

  <!-- <ion-item lines="none" (click)="goClinicDetails()">
      <div class="thumb">
        <img src="assets/imgs/categoryicns/icn-hosp1.svg" alt="">
      </div>
      <ion-label>
        <h1>Tabla de Alimentos</h1>
        <ion-row>
          <ion-col size="2" no-padding>
            <img src="assets/imgs/locpin.svg" alt="">
          </ion-col>
          <ion-col size="9" text-left no-padding>
            <p>0.8 km away</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item> -->

  <ion-button (click)="goOption(1)" expand="block">
    <ion-icon ios="ios-list-box" md="md-list-box" slot="start"></ion-icon>Tabla de Alimentos
  </ion-button>

  <ion-button (click)="goOption(2)" expand="block" style="margin-top: 20px;">
    <ion-icon ios="ios-restaurant" md="md-restaurant" slot="start"></ion-icon>Plan de alimentos
  </ion-button>

  <ion-button (click)="goOption(3)" expand="block" style="margin-top: 20px;">
    <ion-icon ios="ios-menu" md="md-menu" slot="start"></ion-icon>Menu
  </ion-button>

  <ion-button (click)="goOption(4)" expand="block" style="margin-top: 20px;">
    <ion-icon ios="ios-menu" md="md-menu" slot="start"></ion-icon>Detox
  </ion-button>
  <ion-button (click)="goOption(5)" expand="block" style="margin-top: 20px;">
    <ion-icon ios="ios-pint" md="md-pint" slot="start"></ion-icon>Agua
  </ion-button>
  <ion-button (click)="goOption(6)" expand="block" style="margin-top: 20px;">
    <ion-icon ios="ios-body" md="md-body" slot="start"></ion-icon>Ejercicio
  </ion-button>

  <!-- <ion-item lines="none" (click)="goClinicDetails()">
      <div class="thumb">
        <img src="assets/imgs/categoryicns/icn-hosp2.svg" alt="">
      </div>
      <ion-label>
        <h1>Plan de Alimentos</h1>
        <ion-row>
          <ion-col size="2" no-padding>
            <img src="assets/imgs/locpin.svg" alt="">
          </ion-col>
          <ion-col size="9" text-left no-padding>
            <p>0.8 km away</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item> -->
  <!-- 
    <ion-item lines="none" (click)="goClinicDetails()">
      <div class="thumb">
        <img src="assets/imgs/categoryicns/icn-hosp1.svg" alt="">
      </div>
      <ion-label>
        <h1>Menu</h1>
        <ion-row>
          <ion-col size="2" no-padding>
            <img src="assets/imgs/locpin.svg" alt="">
          </ion-col>
          <ion-col size="9" text-left no-padding>
            <p>0.8 km away</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>

    <ion-item lines="none" (click)="goClinicDetails()">
      <div class="thumb">
        <img src="assets/imgs/categoryicns/icn-hosp2.svg" alt="">
      </div>
      <ion-label>
        <h1>Detox</h1>
        <ion-row>
          <ion-col size="2" no-padding>
            <img src="assets/imgs/locpin.svg" alt="">
          </ion-col>
          <ion-col size="9" text-left no-padding>
            <p>0.8 km away</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="goClinicDetails()">
      <div class="thumb">
        <img src="assets/imgs/categoryicns/icn-hosp2.svg" alt="">
      </div>
      <ion-label>
        <h1>Agua</h1>
        <ion-row>
          <ion-col size="2" no-padding>
            <img src="assets/imgs/locpin.svg" alt="">
          </ion-col>
          <ion-col size="9" text-left no-padding>
            <p>0.8 km away</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="goClinicDetails()">
      <div class="thumb">
        <img src="assets/imgs/categoryicns/icn-hosp2.svg" alt="">
      </div>
      <ion-label>
        <h1>Ejercicio</h1>
        <ion-row>
          <ion-col size="2" no-padding>
            <img src="assets/imgs/locpin.svg" alt="">
          </ion-col>
          <ion-col size="9" text-left no-padding>
            <p>0.8 km away</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item> -->


  <!-- </div> -->
</ion-content>
<ion-footer style="height: 43px;">
  <ion-toolbar>
    <ion-title style="font-size: 0.7rem !important;text-align: center; padding-bottom: 10px;">
      <fa-icon [icon]="['fas', 'phone']" class="fabf"></fa-icon>&nbsp;<fa-icon [icon]="['fab', 'whatsapp']"
        class="fabf"></fa-icon> +593 99 821 8429 |
      <fa-icon [icon]="['fas', 'envelope']" class="fabf"></fa-icon>&nbsp;&nbsp;nathyysal@gmail.com
    </ion-title>
  </ion-toolbar>
</ion-footer>