ion-button {
    //color: #145a69 !important;
    color: #ffffff !important;
    margin: 20px !important;
   // --background: #ffffff !important;
    text-transform: inherit !important;
    --box-shadow: 0px 24px 36px rgba(20, 90, 105, 0.6) !important;
    font-size: medium !important;
    font-weight: normal  !important;
}