<ion-content padding>
  <div class="the-title" text-center>
    <h5>Calling</h5>
  </div>

  <div class="doc-details" text-center>
    <h3>Dra. Natalia Yanez</h3>
    <p>Nutricionista</p>
    <div class="h-full ripple-loading" [hidden]="!isLoading" text-center>
        <ripple-loader [imageUrl]="'assets/imgs/docpic.png'"></ripple-loader>
      </div>
  </div>


  <div class="btns-holder" text-center>
    <ion-button >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
</ion-content>
