<ion-header no-border> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>
    <ion-title style="padding-left: 24%;">EcuMedics</ion-title>    
    <ion-button (click)="getNotification()" slot="end" class="notification-icon-button">
      <ion-badge *ngIf="contador > 0" class="notification-badge">{{contador}}</ion-badge>
      <ion-icon slot="icon-only" name="md-notifications"></ion-icon>
  </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="header-container" style="padding-top:50px;">  
    <p text-center style="color:#145a69;">Bienvenido(a)<br />{{paciente.name}} {{paciente.lastname}}</p>
  </div>  
  <div class="cat-menu">
    <ion-grid>
      <ion-row class="cat-row ion-text-center">
        <ion-col size="5" class="cat-col">
          <ion-button text-center fill="none" expand="block" (click)="goFindaPharmacy()">
            <ion-label>
              <!-- <img src="assets/imgs/nutri/reduccion-de-peso.svg" alt=""> -->
              <fa-icon [icon]="['fas', 'street-view']" size="2x" class="fab"></fa-icon>
              <p class="tblo ion-text-wrap">Datos Antropométricos</p>
              <!-- <fa-stack size="2x">               
                <fa-icon [icon]="['fas', 'ruler-combined']" style="color:00acba;" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="['fas', 'street-view']" style="color:#00acba;" stackItemSize="1x"></fa-icon>
              </fa-stack> -->

            </ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="5" class="cat-col">
          <ion-button text-center fill="none" expand="block" (click)="goFindaClinic()">
            <ion-label>
              <!-- <img src="assets/imgs/nutri/nutricion-clinica.svg" alt=""> -->
              <fa-icon [icon]="['fas', 'utensils']" size="2x" class="fab"></fa-icon>
              <p class="ion-text-wrap">Plan Nutricional</p>
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="cat-row ion-text-center">
        <ion-col size="5" class="cat-col">
          <ion-button text-center fill="none" (click)="goDrugFindDdrugs()">
            <ion-label>
              <!-- <fa-icon [icon]="['fas', 'clipboard-check']" size="2x" class="fab"></fa-icon> -->
              <fa-icon [icon]="['fas', 'user-md']" size="2x" class="fab"></fa-icon>
              <p class="ion-text-wrap">Pr&oacute;ximo Control</p>
            </ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="5" class="cat-col">
          <ion-button text-center fill="none" expand="block" (click)="goDocList()">
            <ion-label>

              <fa-icon [icon]="['fas', 'address-book']" size="2x" class="fab"></fa-icon>
              <p>Contacto</p>
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="cat-row" text-center>

        <ion-col size="5" class="cat-col">
          <ion-button text-center fill="none" (click)="goDocList()">
            <ion-label>
              <img src="assets/imgs/categoryicns/icn-schedule.svg" alt="">           
              <p text-wrap>Agendar Cita</p>
            </ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="5" class="cat-col">
          <ion-button text-center fill="none" (click)="goFindaHospital()">
            <ion-label>
              <img src="assets/imgs/nutri/contacs.svg" alt="">
              <p>Consultorio</p>
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>
<ion-footer style="height: 43px;">
  <ion-toolbar>
    <ion-title style="font-size: 0.7rem !important;text-align: center; padding-bottom: 10px;">
      <!-- <fa-icon [icon]="['fas', 'phone']" class="fabf"></fa-icon>&nbsp;<fa-icon [icon]="['fab', 'whatsapp']"
        class="fabf"></fa-icon> +593 99 821 8429 |
      <fa-icon [icon]="['fas', 'envelope']" class="fabf"></fa-icon>&nbsp;&nbsp;nathyysal@gmail.com -->
      <fa-icon [icon]="['fas', 'phone']" class="fabf"></fa-icon>&nbsp;<fa-icon [icon]="['fab', 'whatsapp']"
        class="fabf"></fa-icon> +593 99 053 2674 |
      <fa-icon [icon]="['fas', 'envelope']" class="fabf"></fa-icon>&nbsp;&nbsp;directorio@addsoft-tech.com
    </ion-title>
  </ion-toolbar>
</ion-footer>